@import url(https://www.w3schools.com/cssref/css_websafe_fonts.php);

.content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: rgba(20,30,13, .7);
}

.home-title {
    color: black;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: black;
    color: #d9c2a3;
}

h4 {
    color: rgba(20,30,13, .7);
}

.book {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: steelblue;
    color: #d9c2a3;
}

.join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover {
    background-color: steelblue;
    color: #d9c2a3;
}

.card-img {
    border: 10px solid #d9c2a3;
}

body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}
#
#hero-img {
    width: 100%;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.msg {
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#logo_ink{
    padding-top: 5px;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.rivers-card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}

#background {
    height: 725px;
    background-color: #d9c2a3;
}

footer {
    background-color: rgba(20,30,13, .7);
    color: black;
    padding: 25px 50px;
    margin: 200px;
}

footer .social img {
    padding-top: 15px;
}

footer a {
    color: #d9c2a3;
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
    color: #d9c2a3;
}

footer p a:hover {
    text-decoration: underline;
}

footer:hover {
    color: black;
}